langchain
langchain-google-genai
langchain-text-splitters
langchain-chroma
langchain-huggingface
sentence-transformers
transformers
torch
numpy
soundfile
kokoro
pymupdf
tavily-python
python-dotenv
pyngrok
setuptools
fastapi
openai
chromadb
uvicorn