langchain
langchain-google-genai
langchain-text-splitters
langchain-chroma
langchain-huggingface
sentence-transformers
transformers
pymupdf
tavily-python
streamlit
python-dotenv
pyngrok
setuptools